
.white {
	color : #FFFFFF;
}

.red {
	color : #FF0000;
}

.bold {
	font-weight : bold;
}

.corner {
	color : #FFFFFF;
	font-weight : bold;
	background-color : #FF90B0;
	padding: 5px 3px 3px 0.5em;
}

A {
	color : #0000CF;
	text-decoration: none;
}

A:hover {
	color: red;
}

body {
	color : #000000;
	font-size: 10pt;
	text-align: left;
}

BODY#chara {
	font-size: 10pt;
	text-align: left;
}

body#copyright {
	background-color: #AA33BB;
	margin-top: 0;
	padding-top: 0;
}

p#copyright {
	font-size: 9pt;
	color: white;
	text-align: center;
}

table {
	font-size: 10pt;
}

TD {
	font-size : 10pt;
}

td#menu {
	color: #0080FF;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	padding-top: 4px;
}

H2 {
	font-size : 11pt; width : 100%; color : #FFFFFF; background-color : #FFC1E5;
}

H2#def {
	font-size : 11pt; width : 100%; color : #000000; background-color : #FFFFFF;
}

H3 {
	width: 100%;
	color: #000088;
	font-weight: bold;
	font-size: 11pt;
	background-color: #90FFB0;
	border: 1px none #66FF66;
	border-top: 1px solid #66FF66;
	border-right: 2px solid #339933;
	border-bottom: 2px solid #339933;
	border-left: 1px solid #99FF99;
	padding: 5px 3px 3px 0.5em;
}

